In [1]:
import os
import glob
import pandas as pd

In [5]:
# Loading 
data_path = "C:/Users/TCH/Documents/CristhianVega_Documentos/Yolo_Test/Yolov3Custom/data/custom/images"

data_dir_list = os.listdir(data_path)

img_data_list=[]
num_images=0

for image_file in data_dir_list:
    img_data_list.append('data/custom/images/'+image_file)

dataset_df = pd.DataFrame(img_data_list)
dataset_df

                                0
0     data/custom/images/0_1.jpeg
1    data/custom/images/0_10.jpeg
2    data/custom/images/0_11.jpeg
3    data/custom/images/0_12.jpeg
4    data/custom/images/0_13.jpeg
..                            ...
548   data/custom/images/9_5.jpeg
549   data/custom/images/9_6.jpeg
550   data/custom/images/9_7.jpeg
551   data/custom/images/9_8.jpeg
552   data/custom/images/9_9.jpeg

[553 rows x 1 columns]

In [6]:
from sklearn.model_selection import train_test_split

train_df, valid_df = train_test_split(
  dataset_df, 
  test_size=0.2, 
  random_state=2
)

print(train_df.size, valid_df.size)

442 111

In [7]:
train_df.to_csv('train.txt', index=False, header=None)
valid_df.to_csv('valid.txt', index=False, header=None)